# =========================
# Visual Studio
# =========================
.vs/
*.user
*.suo
*.opensdf
*.sdf
*.ipch
*.aps
*.ncb
*.log
*.tlog/
*.lastbuildstate

# =========================
# Build outputs
# =========================
Debug/
Release/
x64/Debug/
x64/Release/
*.obj
*.pch
*.pdb
*.idb
*.ipdb
*.iobj

# =========================
# CUDA
# =========================
*.cubin
*.ptx
*.fatbin
*.nvvp
*.sublime-workspace
*.sublime-project

# =========================
# Misc
# =========================
*.exe
*.dll
*.lib
*.so
*.a
*.out
*.o
*.log
